.comment {
    user-select: none;
}
.action {
    margin-top: -25px;
    margin-right: -12px;
    a {
        margin-left: 10px;;
    }
}
fieldset{
    font-size: 12px;
    color: #002cf2;
    legend{
        font-size: 12px;
    }
}
.comment-text {
    .update-btn {
        margin-top: 10px;
    }
    a{
        text-decoration: none;
    }
    p{
        margin-bottom: 0;
    }
}

    
  .score-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100px;

        > .score-up,
        > .score-down,
        > .score-num{
            color:#093FB4;
            padding: 5px;
            height: 25px;
            width: 25px;
            text-align: center;
            cursor: pointer;
        }
    }


.header {
    margin-bottom: 12px;
}

@media (max-width: 600px) {
    .comment {
        flex-flow: column-reverse;
        padding: 8px 12px 8px 8px;
        position: relative;
        .header {
            > .username {
                padding: 0 15px;
            }
        }
    }
    .score-container {
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        display: flex;
        font-size: 12px;
        width: 100px;

        > div:first-of-type {
            display: flex;
            flex-direction: row;
            gap:12px;
        }
        >div:last-of-type{
            display: flex;
        }
    }
    .header {
        .action {
           position:absolute;
           right: 12px;
           bottom: 12px;
           margin:0;
        }
    }
    .comment-text {
        p {
            padding-bottom: 1rem;
        }
    }
    .comment-details {
        font-size: 12px;
        padding:0;
    }
}