.comment-box {
    display: flex;
    align-items: flex-start;
    img {
        width: 45px;
        height: 45px;
    }
    fieldset{
        flex-grow: 1;
        border: 2px solid #093FB4;
        border-radius: 5px;
        margin: -8px 15px 0 15px;
        legend {
            font-size: 12px;
            color:#002cf2;
        }
    }
    textarea {
        border-radius: 5px;
        border: none;
        resize: none;
        width: 100%;
        min-height: 100px;
        font-size: 14px;
        outline: none;
    }
}