.comment-box {
    display: flex;
    align-items: flex-start;
    img {
        width: 45px;
        height: 45px;
    }
}
    fieldset{
        flex-grow: 1;
        border-radius: 5px;
        margin: -8px 15px 0 15px;
        legend {
            font-size: 12px;
            color:#002cf2;
        }
    }
    textarea {
        font-size: 14px;
    }